@import "tailwindcss";

@theme {
  --color-brand: #00FF9D;
  --color-background: #05070A;
  --color-surface: #111827;
  --color-accent: #00FF9D;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
